/* Custom CSS for Payment Form */
.payment-form {
    background-color: #f9f9f9;
    margin-top: 55px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #3498db;
  }
  
  .payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .payment-form .form-group {
    margin-bottom: 20px;
  }
  
  .payment-form label {
    font-weight: bold;
    color: #555;
  }
  
  .payment-form input[type="text"],
  .payment-form input[type="date"],
  .payment-form input[type="number"],
  .payment-form textarea,
  .payment-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .payment-form input[type="text"]::placeholder,
  .payment-form input[type="date"]::placeholder,
  .payment-form input[type="number"]::placeholder,
  .payment-form textarea::placeholder,
  .payment-form select::placeholder {
    color: #999;
  }
  
  .payment-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .payment-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .payment-form .alert {
    margin-bottom: 20px;
  }
  h4 {
    font-weight: bold;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }