.city-container {
    display: flex;
    flex-direction:row;
    border: 1px solid #cabebe;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .city-image img {
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
  }
  
  .city-info {
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 70px;
  }
  
