body {
  background-color: #FFFF; 
  margin: 0;
  padding: 0;
}
/* Fshehi butonat e kontrollit për video */
video::-webkit-media-controls-start-playback-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pause-button,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-volume-slider {
display: none !important;
}

/* Fshehi butonat për shfletim në video */
video::-webkit-media-controls-enclosure {
overflow: hidden !important;
}

/* Bën që videoja të mbulojë plotësisht faqen */
.video-container {
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}

video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.menu-item {
    margin-bottom: 40px;
    overflow: hidden;
  }
  
  .menu-item-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 50px;
    
  }
  
  .menu-item-image img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 50px;


  }
 
  .menu-item-info {
    padding: 80px;
  }
  
  .menu-item-info h6 {
    font-family: 'Arial, sans-serif';
    font-weight: bold;
  }
  
  .menu-item-description {
margin-bottom: 10px;
  }

 